@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

:root {
  --softblue: hsl(215, 20%, 49%);
  --cyan: hsl(178, 100%, 50%);
  --Verydarkblue1: hsl(217, 54%, 11%);
  --Verydarkblue2: hsl(216, 50%, 16%);
  --Verydarkblue3: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
} /* =14px */
h1 {
  font-size: 2.4rem;
} /* =24px */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--Verydarkblue1);
  line-height: 1.3;
  font-family: Outfit;
}

img {
  max-width: 100%;
}

h3 {
  margin-bottom: 0;
  font-weight: 600;
  color: var(--white);
}

.caption {
  margin: 1rem 0rem;
  color: var(--softblue);
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  width: 20rem;
  background-color: var(--Verydarkblue2);
  padding: 1.5rem;
  border-radius: 1.4rem;
  box-shadow: 15px 20px 15px 5px rgba(0, 0, 0, 0.3),
    -15px 20px 15px 5px rgba(0, 0, 0, 0.3);
}

.username:hover {
  color: var(--cyan);
  cursor: pointer;
}

.card__imgwrapper {
  background-image: url(images/icon-view.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
  position: relative;
}

.card__img {
  display: block;
  width: 100%;
  height: auto;
  transition: 0.1s ease;
  opacity: 1;
}

.card__imgwrapper:hover .card__img {
  opacity: 0.5;
  cursor: pointer;
}

.card__eye {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.3s ease;
}

.card__imgwrapper:hover .card__eye {
  opacity: 1;
  cursor: pointer;
}

.card__img:hover {
  z-index: -1;
}

.container-etherium {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0rem;
}

.inner-etherium {
  display: flex;
  align-items: center;
}

.inner-clock {
  display: flex;
  align-items: center;
}

.inner-etherium span,
.inner-clock span {
  margin-left: 0.5rem;
}

#ETH {
  color: var(--cyan);
  font-size: 1rem;
}

#clock {
  color: var(--softblue);
  font-size: 0.9rem;
}

.line {
  color: var(--Verydarkblue3);
  width: 100%;
  margin-bottom: 1rem;
}

#jules:hover {
  color: var(--cyan);
  cursor: pointer;
}

.container-cardfooter {
  display: flex;
  height: 2rem;
  padding: 0.3rem;
  justify-content: flex-start;
  align-items: center;
  width: auto;
}

#clock1 {
  color: var(--softblue);
}

.container-cardfooter .image {
  border: 0.1rem solid white;
  border-radius: 100px;
  margin-right: 1rem;
}

#jules {
  color: var(--white);
  font-weight: 600;
}
